*{
    background: fixed;
    z-index: 0;
}



body{
    margin: 0;
    height: 5600px;
    background-color: black;
    z-index: 2;
}

section{
    height: 1000px;
    background-image: url(img/sub_main.png) ;
    background-size:cover;
    z-index: 1;

}
.main_button{
    position: absolute;
    position: fixed;
    height: 171px;
    width: 100px;
    left: 20px;
}

.sub_button1{
    position: absolute;
    position: fixed;
    height: 170px;
    width: 170px;
    margin-left: 5px;
    top: 276px;
}
.sub_button2{
    position: absolute;
    position: fixed;
    height: 170px;
    width: 170px;
    margin-left: 5px;
    top: 426px;
}   

.sub_button3{
    position: absolute;
    position: fixed;
    height: 170px;
    width: 170px;
    margin-left: 5px;
    top: 576px;
}

h1{
    z-index: 1;
    color: white;
    font-size: 100px;
    position: absolute ;
    top: 150px;
    width: 258px;
    left: 250px;
    animation: slide 3s;
    z-index: 1;
    background: none;
}
h2{
    z-index: 1;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 500px;
    width: 258px;
    left: 250px;
    animation: slide 3s;
    background: none;
}
h3{
    z-index: 1;
    color: white;
    font-size: 25px;
    position: absolute;
    top: 550px;
    width: 300px;
    left: 250px;
    animation: slide 3s;
    background: none;
   
}
h4{
    z-index: 1;
    color: white;
    size: 200%;
    position: absolute;
    font-size: 80px;
    top:1500px;
    width: 300px;
    left: 860px;
    background: none;
   
}

h5{
    z-index: 3;
    color: white;
    position: absolute;
    top:3600px;
    left: 860px;
    font-size: 80px;
    background: none;
   
}
.source01{
    z-index: 3;
    position: absolute;
    top:2300px;
    left: 448px;
    background: none;
   
}

.source02{
    z-index: 3;
    position: absolute;
    top:2300px;
    left: 334px;
    background: none;
    z-index: 2;
   
}

.source03{
    z-index: 3;
    position: absolute;
    top:4500px;
    left: 335px;
    background: none;
   
}

.source04{
    z-index: 3;
    position: absolute;
    top:4620px;
    left: 454px;
    background: none;
   
}


.mario_yosi{
    z-index: 3;
    position: absolute;
    top:2710px;
    left: 393px;
    background: none;
   
}

.home_button{
    position: absolute;
    top: 5500px;
    left: 992px;
    z-index: 3;
    width: 150px;
    height: 150px;
}








@keyframes slide{
    from{
        left: -100px;
        opacity: 0;
        
       
    }
    to{
        left:250px;
        opacity: 1;
    }
}
